{% extends "app/base.html" %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block main-content %}
    <div class="container">
        <div class="row my-3">
            <div class="col-sm-6 offset-sm-3">
                <h3>Reset Password Complete!!</h3>
                <hr>
                <div>
                    <iframe src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExdjcxNGVpbHBxZHZ5bXVlM3hjc2NtcjQ5eDgzM25wbGJ0bnR4aHExdSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/U8GOn8mtqVtAWBH8dd/giphy.gif" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock main-content %}